*{
    text-align: center;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30vh;
}

.URL-input{
    border-radius: 4px 0px 0px 4px;
    width: 30em;
    text-align: left;
    border: 2px solid #eee;
    background: #eee;
    outline: none;
}

.URL-input, .convert-button{
    font-size: 1.3em;
    padding: 5px 10px;
}

.URL-input:focus{
   border: 2px solid #0485ff;
}

.convert-button{
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #0485ff;
    background: gray;
    color: white;
}

#mp3 {
	border-radius:0px 4px 4px 0px;
}


.footer{
    text-align: center;
    position: static;
    padding-bottom: 0;
    padding-top: 0;

}